/* Font Bold*/
@font-face{
    font-family: 'TTFirsNeue-DemiBold';
    src: url(assets/fonts/TTFirsNeue-DemiBold) format(DemiBold);
}
/* Medium font */
@font-face{
    font-family:'TTFirsNeue-Medium';
    src: url(assets/fonts/TTFirsNeue-Medium) format(Medium);
}
/* Light font  */
@font-face{
    font-family:'TTFirsNeue-Light';
    src: url(assets/fonts/TTFirsNeue-Medium) format(Light);
}
/* Regular font  */
@font-face{
    font-family:'TTFirsNeue-Regular';
    src: url(assets/fonts/TTFirsNeue-Medium) format(Regular);
}


.ld-fancy-heading.text-lowercase .ld-fh-element, .ld-fancy-heading.text-uppercase .ld-fh-element, .ld-fancy-heading.text-capitalize .ld-fh-element{
    text-align: left !important;
}
.btn.border-none>span{display: none !important;}
.lqd-simple-heading-wrap, .ld-fancy-heading, .h6{text-align: left !important; color:#000;
}
.ld_spacer_60a65ae392b15 {
    display: none !important;
}
/* first Section */
.f_section {
    padding-top: 210px;
    padding-bottom: 100px;
}
.ld-fancy-heading .split-inner{font-weight: 500 !important;}
.cstm_container {
    max-width: 1304px !important;
    height: 70vh;
    margin: auto;
    padding-left: 30px;
    display: flex;
    align-items: center;
}
.heading_1st_sec{color: #000 !important;
    font-size: 100px !important;
    width: 100% !important;
        letter-spacing: 3px;
        line-height: 3;
}
.sub_title_first_sec{color: #767676 !important;
    width: calc(100% - 20%);
    font-size: 24px !important;
    line-height: 2;
}

/* Txt moving Sec */
.project-title{font-size:140px !important}
.wall-project .project-title:hover{
    color: #fff  !important;
  }
.video_section{
    margin: 60px 0 ;
}
.video_container{
    width: 1620px;
    height: 926px;
    margin: auto;

}
.video_section .video_container .video_content img{
    width: 1620px !important;
    box-sizing: border-box;
    transition: 0.3s;
    transition-delay: 0.3s;
}
.video_section .video_container .video_content img.active1{
    width: 1550px !important;
    margin: auto;
}
.video_section .video_container .video_content img.active2{
    width: 1420px !important;
    margin: auto;
}
.video_section .video_container .video_content img.active3{
    width: 1320px !important;
    margin: auto;
}
.video_section .video_container .video_content img.active4{
    width: 1220px !important;
    margin: auto;
}


/* Design_title_Section  */
.c_left{float: left;} 
.c_right{float: right;}
.clear::after{content: "";display: block;clear: both;}
.design_titleSection{
    background:url(assets/img/Rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    background: #000;
    padding: 140px 0px;
    /* padding-left: 24px; */
    position: relative;
    overflow:hidden !important;
}
.caseImages {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(100% - 23%);
    transition: 2.2s;
    transition-delay: 2.2s;
    display: none;
    overflow: hidden;
    
}
/* This calss using for Js */
.caseImages.on{
    display: block;
    transition: 2.2s;
    transition-delay: 2.2s;
    overflow: hidden;
}
.dts_hover{
    width: 100%;
    text-align: center;
    height: 100px;
    background: #000;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 5;
}

.design_headingTitle{
   padding: 0px;
}
.design_headingTitle h1 {
    color: #fff;
    font-size: 52px;
    line-height: 1.4;
    padding-left: 20px;
    font-family: 'TTFirsNeue-DemiBold';
    text-align: center;
}
/* main Parent  */
.design_animContent{padding-left: 50px;margin-top: 100px;position:relative;}
.dts_hover2 {
    width: 100%;
    height: 126px;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Left */
.desing_animHover{width: 80%;
 box-sizing: border-box;
background-size: cover; 
overflow: hidden;
position: relative;
}
/* Right */
.desing_animRightConetent{width: 20%;}

.desing_animRightConetent img{
width: 47px;
height: 47px;
float: right;
margin-right: 31px;
margin-top: -6px;
}
.desing_animRightConetent img:hover{
    box-shadow: 3px 3px 30px 0 rgba(52,120,223,.2);
    border: 5px solid rgb(30, 33, 80);
    border-radius: 50%;
    transition: 0.2s;
    transition-delay: 0.2s;
}
/* Max */
.desing_animHover img{ max-width: 100%;}
/*  Section Hover to border width increase Width Few Steps */
.desing_animHover::after {
    content: "";
    display: block;
    width: var(--boxAfterWidth, 0%);
    height: 1px;
    margin: auto;
    background: #e4e4e4;
    position: absolute;
    top: 40%;
    left: 14%;

}

/* .cb-cursor */
.cb-cursor.designed-titleSec{
    color: #fff;
}

.cstm_width{width: 950px !important;}

/* Feature Sec */

.feature_section{
    padding:100px 0;
}
.cb_balck{
    color: #000 !important;
}
.feature_container, .work_container{
    /* width:960px !important; */
    width: 100% !important;
    margin:auto !important;
    padding: 0 33px !important;
}
.fature_content{}
.feature_title{
    margin-bottom: 50px;
    width: 559px;
    /* padding:40px; */
    padding-left: 33px;

}
.feature_title h1{
    font-size: 47px;
    font-family:'TTFirsNeue-Medium';
}
/* Left */
.feature_left{
       width:50%;
       height: 610px;
       display: flex;
       justify-content: center;
       flex-direction: column;
}
.feature_left_heading{
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.feature_left_heading h2 {
    font-size: 41px;
    margin-bottom: 40px;
    line-height: 1.2;
    font-family:'TTFirsNeue-Medium';
}
.sub-heading{}
.sub-heading p {
    width: calc(100% - 10%);
    font-size: 17px;
    line-height: 1.4;
    color: #767676;
    letter-spacing: 1px;
    font-family:'TTFirsNeue-Light';
  
}
.btn-left{text-align: left !important;
    font-family:'TTFirsNeue-Medium';
}
/* Right */
.feature_right{
    width:50%;
}
.feature_right_img{
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
.feature_right_img img {
    width: 437px;
    transition: transform .4s,-webkit-transform .4s,-moz-transform .4s,-o-transform .4s;
}
.feature_right_img img:hover{
    transform: scale(0.97);
    transition: 0.3;
    transition-delay: 0.2s;
}


/* Work Sec */
.work_section{
    padding: 100px 0;

}


.work_container{
    max-width: 1360px;
    margin: auto;
}
.work_content{
    padding: 40px;
}
.work_left{
    width: 40%;
}
.work_title{
text-align: left;
}
.work_title h2{
font-size: 80px;
margin-bottom: 13px;
line-height: 1;
font-family:'TTFirsNeue-Medium';
}

/* jquery faq */
 
.accordion-container .accordion-title { 
    position: relative; 
    margin: 0; 
    padding: 15px 40px 15px 0;
    background-color: transparent;
    font-weight: normal;
    cursor: pointer; 
    outline: none; 
    border-bottom: 1px solid #dfdfdf; 
    font-size: 36px; 
    font-family:'TTFirsNeue-Medium';
  }
  .accordion-container .accordion-title:nth-child(1) {
    border-top: 1px solid #dfdfdf;  
  }
  
  .accordion-container .accordion-title:hover,
  .accordion-container .accordion-title:active,
  .accordion-title.open {
    background-color: transparent;
  } 
  
  .accordion-container .accordion-title::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 40px; 
    width: 20px;
    height: 2px;
    transform: rotate(90deg);
    background: #000;
    transition: all .3s ease-in-out;
  }
  
  .accordion-container .accordion-title::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 40px;
    width: 20px; 
    height: 2px;
    background: #000; 
    transition: all .2s ease-in-out;
  }
  
  .accordion-container .accordion-title.open::before {
    transform: rotate(180deg);
  }
  
  .accordion-container .accordion-title.open::after {
    opacity: 0;
  }
  
  .accordion-content { 
    border-bottom: 1px solid #0a0a0a;
    font-size: 24px;
    line-height: 35px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 20px;
    font-family:'TTFirsNeue-Light';
  }
  
  /* CSS for Demo */
  .accordion-container {
    width: 100%; 
  }

/* Right work */
.work_right{ 
    width: 60%;
 }




 /* Dragabble Itme */
 .cb-smfeed-item-url svg{
     margin-left: -25px;
 }
 .cb-smfeed-item-url{
    font-family:'TTFirsNeue-Medium';
 }
 .cb-smfeed-item-text{
    font-family:'TTFirsNeue-Light';
 }
 /* D_Event - Title  */
 .cb-smfeed-header {
    margin: 0 0 40px 0;
}
.cb-smfeed-header h2 {
    font-size: 58px;
    letter-spacing: -.05em;
    font-weight: 500;
    font-family:'TTFirsNeue-Medium';
}
.cb-outro-header p{
    font-family:'TTFirsNeue-Regular';
}
.cb-menu-nav-item a span{
    font-family:'TTFirsNeue-Medium';
}
.cb-menu-footer .row .left ul li a{
    font-family:'TTFirsNeue-Medium';
}
.cb-menu-title.-sm{
    font-family:'TTFirsNeue-Regular';
}
.cb-menu-mail a span{
    font-family:'TTFirsNeue-Regular';
}

@media(max-width:3420px) and (min-width:1025px){
    .feature_left {
        height: 880px;
    }
 
    .design_animContent {
        padding-left: 50px;
        width: 80%;
        padding-top: 100px;
        margin: auto;
    }
    .feature_container, .work_container {
        padding: 0 200px !important;
    }
    .feature_right_img img{width: 104% !important;
    height: 880px;}
    .feature_left_heading h2 {
        font-size: 76px;
        letter-spacing: 3px;
    }

    .sub-heading p {
        font-size: 38px;
        line-height: 1.6;
        margin-left: 3px;
    }
    .feature_left_heading{padding: 0px;}
    .feature_title{padding: 0px;}
    .feature_title h1{font-size: 70px;}
    .feature_section{padding: 120px 0;}
    .toggleFaq{font-size: 18px;}
    .work_title h2 {
        font-size: 66px;
        line-height: 1.2;
        margin-bottom: 13px;
        letter-spacing: 5px;
    }
    .work_content{padding: 0px;}
    .contentFaq p{font-size: 17px;}
    .design_headingTitle h1 {
        font-size: 96px;
        line-height: 1.4;
        padding-left: 20px;
        width: 100%;
        margin: auto;
        text-align: center;
        text-shadow: 2px 2px #57c0b3;
        /* box-shadow: 3px 3px 30px 0 rgb(52 120 223 / 10%); */
    }
    .cb-advantage-container, .cb-billboard-container, .cb-brief-container, .cb-container.-lg, .cb-definition-container, .cb-description-container, .cb-employment-container, .cb-featured-container, .cb-feedback-container, .cb-hero-container, .cb-listing-container, .cb-modal_box-container, .cb-newsfeed-container, .cb-nextcase-container, .cb-numstat-container, .cb-outro-container, .cb-rcfeed-container, .cb-relcase-container, .cb-request-container, .cb-smfeed-container, .cb-splitshow-container, .cb-textpaper-container, .cb-topcover-container, .cb-tophead-container, .cb-work-container{
        padding: 0 210px;
    }
    .cb-smfeed-item-url {    
        font-size: 21px;
        letter-spacing: 1.3px;
    }
    .cb-smfeed-item-text{
        font-size: 16px;
        word-spacing: 1px;
    }
}
@media(max-width:2419px) and (min-width:2200px) {
    .design_headingTitle h1 {
        font-size: 115px;
        line-height: 1.4;
        padding-left: 20px;
        width: 100%;
        margin: auto;
        text-align: center;
        text-shadow: 2px 2px #57c0b3;
    }
}

@media(max-width:2418px) and (min-width:2171px){
    .cb-advantage-container, .cb-billboard-container, .cb-brief-container, .cb-container.-lg, .cb-definition-container, .cb-description-container, .cb-employment-container, .cb-featured-container, .cb-feedback-container, .cb-hero-container, .cb-listing-container, .cb-modal_box-container, .cb-newsfeed-container, .cb-nextcase-container, .cb-numstat-container, .cb-outro-container, .cb-rcfeed-container, .cb-relcase-container, .cb-request-container, .cb-smfeed-container, .cb-splitshow-container, .cb-textpaper-container, .cb-topcover-container, .cb-tophead-container, .cb-work-container{
        padding: 0 80px;
    }
}
@media(max-width:2199px) and (min-width:1922px) {
    .design_headingTitle h1 {
        font-size: 98px;
        line-height: 1.4;
        padding-left: 20px;
        width: 100%;
        margin: auto;
        text-align: center;
        text-shadow: 2px 2px #57c0b3;
    }
}
@media(max-width:2170px) and (min-width:2000px){
    .cb-advantage-container, .cb-billboard-container, .cb-brief-container, .cb-container.-lg, .cb-definition-container, .cb-description-container, .cb-employment-container, .cb-featured-container, .cb-feedback-container, .cb-hero-container, .cb-listing-container, .cb-modal_box-container, .cb-newsfeed-container, .cb-nextcase-container, .cb-numstat-container, .cb-outro-container, .cb-rcfeed-container, .cb-relcase-container, .cb-request-container, .cb-smfeed-container, .cb-splitshow-container, .cb-textpaper-container, .cb-topcover-container, .cb-tophead-container, .cb-work-container{
        padding: 0 115px;
    }
}
@media(max-width:1950px) and (min-width:1025px) {
.dts_hover2 {
    height: 126px;
    bottom: 0px;
}
}
@media(max-width:1899px) and (min-width:1025px){
    .feature_left {
        height: 870px;
    }
    .design_animContent {
        padding-left: 50px;
        width: 80%;
        padding-top: 100px;
        margin: auto;
    }
    .feature_container, .work_container {
        padding: 0 100px !important;
    }
    .feature_right_img img{width: 104% !important;}
    .feature_left_heading h2 {
        font-size: 46px;
        letter-spacing: 3px;
        
        
    }
    .sub-heading p {
        font-size: 30px;
        line-height: 1.6;
        margin-left: 3px;
        
    }
    .feature_left_heading{padding: 0px;}
    .feature_title{padding: 0px;}
    .feature_title h1 {
        font-size: 72px;
    }
    .feature_section{padding: 120px 0;}
    .toggleFaq{font-size: 18px;}
    .work_title h2 {
        font-size: 47px;
        line-height: 1.3;
        margin-bottom: 13px;
        letter-spacing: 3px;
    }
    .work_content{padding: 0px;}
    .contentFaq p{font-size: 17px;}
    .design_headingTitle h1 {
        font-size: 51px;
        line-height: 1.4;
        padding-left: 20px;
        width: 100%;
        margin: auto;
        text-align: center;
        text-shadow: 2px 2px #57c0b3;
        /* box-shadow: 3px 3px 30px 0 rgb(52 120 223 / 10%); */
    }
    
    .cb-advantage-container, .cb-billboard-container, .cb-brief-container, .cb-container.-lg, .cb-definition-container, .cb-description-container, .cb-employment-container, .cb-featured-container, .cb-feedback-container, .cb-hero-container, .cb-listing-container, .cb-modal_box-container, .cb-newsfeed-container, .cb-nextcase-container, .cb-numstat-container, .cb-outro-container, .cb-rcfeed-container, .cb-relcase-container, .cb-request-container, .cb-smfeed-container, .cb-splitshow-container, .cb-textpaper-container, .cb-topcover-container, .cb-tophead-container, .cb-work-container{
        padding: 0 110px;
    }
    .cb-smfeed-item-url {    
        font-size: 21px;
        letter-spacing: 1.3px;
    }
    .cb-smfeed-item-text{
        font-size: 16px;
        word-spacing: 1px;
    }
}


@media(max-width:1898px) and (min-width:1025px){
    .feature_left{height: 880px;}
    .feature_right_img img {
        height: 880px;
    }
    .cb-smfeed {
        padding-top: 35px;
    }
    .work_title h2 {
        font-size: 60px;
    }
    .feature_left_heading h2 {
        font-size: 76px;
    }
    .feature_section {
        padding: 130px 0;
    }
    .design_headingTitle h1 {
        font-size: 88px;
    }
}
@media(max-width:1710px) and (min-width:1585px){
    .design_headingTitle h1 {
        font-size: 82px;
    }
}
@media(max-width:1695px) and (min-width:1025px) {
    .design_headingTitle h1 {
        font-size: 78px;
    }
}
@media(max-width:1650px) and (min-width:1025px) {
.dts_hover2 {
    height: 131px;
    bottom: 0;
}
}

@media(max-width:1520px) and (min-width:1025px){
    .feature_right_img img {
        width: 104% !important;
        height: 870px;
    }
    .feature_left_heading h2 {
        font-size: 66px;
        line-height: 1.4;
        letter-spacing: 2px;
    }
  
}
@media(max-width:1455px) and (min-width:1024px) {
.dts_hover2 {
    height: 122px;
    bottom: 0;
}
}
@media(max-width:1535px) and (min-width:1375px) {
    .design_headingTitle h1{font-size: 70px;}
}
@media(max-width:1374px) and (min-width:1211px) {
    .design_headingTitle h1{font-size: 62px;}
}
@media(max-width:1210px) and (min-width:1161px) {
    .design_headingTitle h1{font-size: 59px;}
}
@media(max-width:1160px) and (min-width:1025px) {
    .design_headingTitle h1{font-size: 54px;}
}
@media(max-width:1130px) and (min-width:1025px){

    .feature_left {height: 800px;}
    .feature_right_img img{height: 800px;}
    .feature_left_heading h2 {
        font-size: 48px;
        line-height: 1.5;
        letter-spacing: 0px;
    }
    .work_title h2 {
        font-size: 51px;
    }
    .cb-smfeed-header h2{font-size: 52px;}
}
@media(max-width:1055px) and (min-width:1025px) {
    .design_headingTitle h1{font-size: 52px;}
}
@media(max-width:1024px){
    .cb-advantage-container, .cb-billboard-container, .cb-brief-container, .cb-container.-lg, .cb-definition-container, .cb-description-container, .cb-employment-container, .cb-featured-container, .cb-feedback-container, .cb-hero-container, .cb-listing-container, .cb-modal_box-container, .cb-newsfeed-container, .cb-nextcase-container, .cb-numstat-container, .cb-outro-container, .cb-rcfeed-container, .cb-relcase-container, .cb-request-container, .cb-smfeed-container, .cb-splitshow-container, .cb-textpaper-container, .cb-topcover-container, .cb-tophead-container, .cb-work-container{
        padding: 0 75px  !important;
        width: 100% !important;
    }
    /* Footer Item */
    .cb-outro-header .rows .col h1 {
        font-size: 65px;
        letter-spacing: normal;
        font-family: 'TTFirsNeue-DemiBold';
    }
}
@media(max-width:1015px) and (min-width:993px) {
    .design_headingTitle h1{font-size: 50px;}
}
@media(max-width:992px){
    .design_headingTitle h1{font-size: 48px;text-align: center;}
    .feature_title h1{font-size: 42px;}
    .feature_left_heading h2{font-size: 37px;}
    .work_title h2 {
        font-size: 41px;
        line-height: 1.3;
        margin-bottom: 13px;
        letter-spacing: 2px;
    }
    .cb-smfeed-header h2{font-size: 48px;}
    .cb-outro-header .rows .col h1 {
        font-size: 65px !important;
        letter-spacing: normal;
    }
}
@media(max-width:945px){
    .design_headingTitle h1{font-size: 48px;}
}
@media(max-width:925px){
    .design_headingTitle h1 {
        font-size: 44px;
        text-align: center;
    }
}
@media(max-width:860px){
    .design_headingTitle h1 {
        font-size: 38px;
        text-align: center;
    }
    .work_title h2{font-size: 39px;}
    .feature_title h1{font-size: 40px;}
    .cb-smfeed-header h2{font-size: 45px;}
}
@media(max-width:768px){
    .design_headingTitle h1 {
        font-size: 34px;
        text-align: center;
    }
    .cb-outro-header .rows .col h1 {
        font-size: 49px !important;
        letter-spacing: normal;
    }
    .feature_left_heading h2{font-size: 32px;}
    .feature_left{height: 565px;}
    .feature_right_img img {
      width: 100%;
        height: 565px;
        transition: transform .4s,-webkit-transform .4s,-moz-transform .4s,-o-transform .4s;
    }
    .feature_title h1{font-size: 35px;}
    .sub-heading p{font-size: 15px;}
    .work_title h2{font-size: 36px;}
    .cb-smfeed-header h2{font-size: 39px;}
}
@media(max-width:700px){
    .feature_left_heading h2{font-size: 29px;}
    .work_title h2{font-size: 31px;}
    .feature_title h1 {
        font-size: 32px;
    }
    .cb-smfeed-header h2{font-size: 37px;}
}
@media(max-width:660px){
    .feature_left_heading h2{font-size: 24px;}
    .work_title h2{font-size: 28px;}
    .feature_title h1 {
        font-size: 28px;
    }
    .cb-smfeed-header h2{font-size: 33px;}
    .feature_left{height: 480px;}
    .feature_right_img img {
      width: 100%;
        height: 100%;
        transition: transform .4s,-webkit-transform .4s,-moz-transform .4s,-o-transform .4s;
    }
    .design_headingTitle h1{font-size: 30px;}
    .sub-heading p{font-size: 13px;}
}
@media(max-width:600px){
    .design_headingTitle h1{font-size: 24px;}
    .design_titleSection{padding: 80px 0;}
}
@media(max-width:570px){
    .feature_left{height: 440px;}
    .feature_right_img img {
      width: 100%;
        height: 440px;
        transition: transform .4s,-webkit-transform .4s,-moz-transform .4s,-o-transform .4s;
    }
    .feature_left_heading h2 {
        font-size: 23px;
        font-weight: 500;
    }
    .feature_title h1 {
        font-size: 26px;
        font-weight: 500;
    }
    .sub-heading p, .cb-btn_more-title span{font-size: 12px;}
    .work_title h2{font-size: 25px;font-weight: 500;}
    .contentFaq p{font-size: 12px;}
    .faq_wrapper{margin-left: 65px;}
    .toggleFaq {font-size: 15px;}
    .work_section {padding: 70px 0;}
}
@media(max-width:520px){
    .design_headingTitle h1{font-size: 21px;}
    .feature_left_heading h2{font-size: 19px;}
    .sub-heading p, .cb-btn_more-title span {
        font-size: 11px;
    }
    .cb-smfeed-header h2{font-size: 26px;}
    
}
@media(max-width:520px){
    .design_headingTitle h1{font-size: 21px;}
    .feature_left_heading h2{font-size: 19px;}
    .sub-heading p, .cb-btn_more-title span {
        font-size: 11px;
    }
    .cb-smfeed-header h2{font-size: 26px;}
    
}
@media(max-width:597px){
    .design_headingTitle h1 {
    font-size: 26px;
}
.desing_animRightConetent img {
    width: 25px;
    height: 25px;
}
.design_titleSection {
    padding: 80px 0;
    overflow: hidden;
    transform: translateX(0px);
    width: 100% !important;
    max-width: 100%;
}
.feature_left{width: 100%;height: 100%;}
.feature_right_img img, .feature_right{height: 100%;width: 100%;}
.feature_title{width: 100%;}
.work_left {
    width: 100%;
    text-align: center;
}
.faq_wrapper{margin-left: 0px;width: 100%;height: 100%;}
.work_right {
    width: 100%;
    margin-top: 25px;
    height: 100%;
}
.cb-smfeed-header h2 {
    font-size: 25px;
    text-align: center;
}
.work_section {
    padding: 60px 0;
}
.cb-smfeed-item-url{font-weight: 500;font-size: 19px;}
}
@media(max-width:517px){
    .design_headingTitle h1 {
    font-size: 24px;
}
@media(max-width:480px){
    .design_headingTitle h1 {
    font-size: 22px;
}
@media(max-width:445px){
    .design_headingTitle h1{font-size: 19px;}
    .feature_left_heading h2{font-size: 23px;}
    .toggleFaq {font-size: 14px;}
}
@media(max-width:400px){
    .design_headingTitle h1{font-size: 16px;}
    .toggleFaq {font-size: 13px;}
}
@media(max-width:360px){
    .design_headingTitle h1{font-size: 14px;}
}
@media(max-width:300px){
    .feature_left_heading h2{font-size: 18px;}
    .sub-heading p, .cb-btn_more-title span {
        font-size: 9px;
        padding: 0px !important;
        width: 100% !important;
    }
    .work_title h2{font-size: 24px;}
    .feature_left_heading h2 {
        font-size: 18px;
        text-align: center;
    }
}
